footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    width: 100%;
   
  }
  
  .container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;  
    margin: 0 auto;
    padding: 0 20px;
    
  }
  
  /* Phone  */
  .phone {
    font-size: 20px;
  }
  
  .phone a {
    text-decoration: none;
    color: #fff;
    align-items: center;
  }
  .phone a i:hover {
    color: #007bff;
  }
  
  .phone a i {
    margin-left: 10px;
  }
  
  /* Social Icons */
  .social {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .icons {
    margin-right: 25px;
  }
  
  .icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    transition: color 0.2s ease-in-out;
  }
  
  /*  Icon Hover Effect */
  .icons a:hover {
    color: #007bff;
  }
  